<div class="pop" style="background-image: url('https://www.citationbonheur.fr/wp-content/uploads/2018/09/L_influence_du_paysage_sur_le_bonheur.jpg');">

<h1>Mon 1er blog qui déchire</h1>
<h2>Akinator, C'est quoi?</h2>

<div class="container">
	<div class="row">
		<div class="text-center">
			<p>Akinator : Le Génie du web est un jeu sur internet dans lequel l'application essaye de deviner à quoi ou à qui le joueur pense, via une série de questions posées par l'intelligence artificielle </p>
			<p>Le jeu se déroule entre Akinator, représenté sous la forme d'un génie oriental, et un joueur. Akinator essaie de deviner le personnage réel ou fictif (ou l'objet) auquel le joueur pense, et pour ce faire il lui pose des questions. Les questions sont choisies de façon à pouvoir éliminer plusieurs possibilités. Akinator possède une base de données qui regroupe des personnages et des questions avec leurs réponses.</p>
			<p>Au bout d'une vingtaine de questions, Akinator a généralement pu éliminer toutes les possibilités sauf une, et propose au joueur sa réponse. S'il se trompe, il propose alors au joueur de continuer en lui posant une nouvelle série de questions (qui ont souvent pour but d'élargir un peu la recherche, en supposant que le joueur a pu se tromper quelques fois dans ses réponses). Si après ces questions supplémentaires Akinator se trompe, ou ne trouve pas le personnage, il demande au joueur de lui indiquer quel était le personnage, et ce qui le caractérise.</p>



			