h1{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

h2{
	color: orange;
	font-weight: bold;
	text-transform: uppercase;
}

.container {
	text-align: center;
}

.article {
	color: white;
	text-align: left;

}

.smiley {
	align-items: right; 
}

.rep {
	background-size: cover;
	background-position: center;
}

.wrapper {
	background-size: cover;
	background-position: center;
	opacity: 45%;
}

.wall {
	background-size: cover;
	background-position: cover;
}

.pop {
	background-size: cover;
	background-position: cover;
	opacity: 45%;
}

.genie {
	align-items: center;
}

.ask {
	align-items: left;
}

.edition {
	background-size: cover;
	background-position: center;
	opacity: 45%;
	display: flex;
}
p{
	font-family: arial, comic sans MS, verdana, sans-serif;
	color: white;
}